<template>
    <div>
        <h1>
            Chil Component Example Named
        </h1>
    </div>
</template>
<script>
export default {
    name:'ChilComponentExampleNamed'
}
</script>
<style lang="scss">

</style>